.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.details{
    width: 25rem;
}

.details form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login{
    display:flex;
    justify-content: center;
    align-items: center;
}

.ingredientItem {
    flex: 1; /* Allow components to grow and occupy equal space */
    margin: 10px;
    position: relative;
  }

  .inputwithbutton {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
  }
  
  
  
   button {
    background-color: brown;
    color: #fff;
    border: none;
    padding: 7px 15px;
    border-radius: 0 15px 15px 15px;
    cursor: pointer;
  }

   button:hover {
   opacity: 0.5;
    cursor: pointer;
  }
  